.hamburger-menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #495e57;

  transition: width 0.4s ease-in-out;
  padding: 0;
  overflow: hidden;
  right: 0;

  &.hidden {
    width: 0;
  }

  .cancel-icon {
    margin-top: 25px;
    margin-right: 25px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .hamburger-menu-links {
    .list-of-links {
      display: flex;
      flex-direction: column;
      margin-top: 45px;
      list-style-type: none;
      gap: 30px;

      a {
        font-family: "Karla";
        font-size: 35px;
        font-weight: 700;
        color: white;
        text-decoration: none;
      }
    }
  }
}
