.footer-container {
  display: flex;

  flex-direction: row;
  background: #d9d9d9;
  justify-content: space-between;
  //gap: 50px;

  .column {
    margin-top: 25px;
    margin-bottom: 25px;

    ul {
      list-style-type: none;
      padding-left: 0px;

      .heading {
        white-space: nowrap;
        margin-bottom: 20px;
        color: #495e57;
        font-family: Karla;
        font-size: 20px;
        font-weight: 800;
      }

      .info-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .info {
          white-space: nowrap;
          color: #333;
          font-family: Karla;
          font-size: 17px;
          line-height: 100%;
          cursor: pointer;
          :hover {
            font-weight: 700;
          }
          a {
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .column {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
