.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-container {
    flex-shrink: 1;
    margin-top: 22px;
    margin-right: 0px;
    height: 71px;
    display: flex;
    cursor: pointer;
    flex-direction: row-reverse;

    .numberOfDishes {
      position: absolute;
      margin-right: -15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f4ce14;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-weight: 700;

      &.zero {
        display: none;
      }
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 28px;

    .list-of-links {
      width: 100%;
      margin-top: 44px;
      list-style-type: none;
      display: flex;
      gap: 28px;

      a {
        font-family: "Karla";
        font-size: 22px;
        font-weight: 700;
        color: black;
        text-decoration: none;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 930px) {
  .nav-container {
    .nav-links {
      gap: 15px;
      .list-of-links {
        padding-left: 15px;
        margin-left: 0px;
        gap: 15px;
      }
    }
  }
}
