.reservation-page-container {
  margin-top: 20px;
  border-top: 15px solid #475c54;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding-top: 20px;
    color: #141414;
    font-family: "Markazi Text";
    font-size: 56px;
    font-weight: 500;
    line-height: normal;
  }
}
