.hero-container {
  //flex-shrink: 0;
  background: hsl(160, 13%, 33%);
  margin-top: 30px;
  margin-bottom: 150px;
  //display: flex;

  .horizontal {
    display: flex;
    justify-content: space-between;
    //width: 100%;
    .hero-content-left {
      flex: 0;
      margin-bottom: 28;
      display: flex;
      flex-direction: column;

      .title {
        white-space: nowrap;
        color: #f4ce14;
        font-family: "Markazi Text";
        font-size: 56px;
        margin-bottom: 14px;
      }
      .subtitle {
        margin: 0px;
        color: #edefee;
        font-family: "Markazi Text";
        font-size: 32px;
      }
      main {
        margin-bottom: 36px;

        p {
          color: #edefee;
          font-family: "Karla";
          font-size: 20px;
          line-height: 140.625%;
        }
      }
      button {
        margin-bottom: 28px;
        border: none;
        background-color: #f4ce14;
        width: 50%;
        padding: 17px;
        border-radius: 20px;
        color: #333;

        font-family: "Karla";
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .hero-content-right {
      flex: 1;
      position: relative;

      img {
        object-fit: cover;
        position: absolute;
        top: 30px;
        //left: 0px;
        right: 0px;
        margin-top: 30px;
        width: 422px;
        height: 433px;
        border-radius: 30px;
      }
    }
  }
}
